// For scss comment only show in scss file
/* But you want show the comment line in css use these */
/* scss interpolation  2+2 = #{ 2+2} */

// this is for css variables
// :root {
//     --app-bg-color: rgb(52, 158, 123);
// }
// color imports
@import "./abstract/color";
// font style
@import "./abstract/font";
@import "./base/reset";
@import "./base/typography";
@import "./layouts/header";
@import "./pages/homepage";

$dark-mode: false;
// $app-bg-color: green !global; global keyword to change open
/* $app-bg-null :#{$app-bg-null} */
// interpolation to use #{}
$profile-name: "dummy";
.profile-picture {
    background: url(./assets/img/#{$profile-name}.jpg);
}
