@use '../abstract/index' as i;



.header {
    padding: 30px 50px !important;
    display: flex;
    justify-content: space-between;

    &__menus {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }
    &__menu {
        margin-right: 1rem;

        &.active {
            border-bottom: 3px solid i.$br-color;
            a {
                color: i.$br-color;
            }
        }

        &:hover {
            display: inline-block;
            border-bottom: 3px solid i.$br-color;
        }
    }
}