@use "../abstract/index" as *;
.btn {
    &-default {
        @include btn(#000);
    }

    &-primary {
        background-color: base-colors('primary');
        @include btn;
    }

    &-secondary {
        background-color:  base-colors('secondary');
        @include btn;
    }

    &-success {
        background-color:  base-colors('success');
        @include btn;
    }

    &-warning {
        background-color:  base-colors('warning');
        @include btn;
    }
}
