@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");
.color-text {
  color: lightgreen;
}

.circle-av {
  width: 180px;
  height: 180px;
  border-radius: 90px !important;
}

.square-av {
  width: 180px;
  height: 180px;
}

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  background-color: #454c4e;
  font-family: "Roboto", sans-serif;
  font-weight: 400 !important;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  padding: 30px 50px !important;
  display: flex;
  justify-content: space-between;
}
.header__menus {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.header__menu {
  margin-right: 1rem;
}
.header__menu.active {
  border-bottom: 3px solid #a57a89;
}
.header__menu.active a {
  color: #a57a89;
}
.header__menu:hover {
  display: inline-block;
  border-bottom: 3px solid #a57a89;
}

.welcome-card {
  background-color: white;
  margin: 30px;
  padding: 20px;
  border-radius: 35px;
}
.welcome-card__title {
  font-size: 40px;
}
.welcome-card__description {
  color: #8d693eb0;
  font-family: "Inspiration", cursive;
  font-size: 2rem;
}
.welcome-card__btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #349e7b !important;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  border: none;
}

.btn-default {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  color: #000;
}
.btn-primary {
  background-color: #454c4e;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  color: #fff;
}
.btn-secondary {
  background-color: #3e8091;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  color: #fff;
}
.btn-success {
  background-color: #00bd48;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  color: #fff;
}
.btn-warning {
  background-color: #d0d32e;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  color: #fff;
}

/* But you want show the comment line in css use these */
/* scss interpolation  2+2 = 4 */
/* $app-bg-null :red
{i.$app-bg-null} */
.profile-picture {
  background: url(./assets/img/dummy.jpg);
}

/* app-color: #454c4e */
.demo {
  font-size: 1rem;
  font-weight: 600;
}

h1 {
  font-size: 90px !important;
  color: #9510e9;
}

h2 {
  font-size: 80px !important;
  color: #3d2f89;
}

h3 {
  font-size: 70px !important;
  color: #53b771;
}

h4 {
  font-size: 60px !important;
  color: #fd5bfe;
}

h5 {
  font-size: 50px !important;
  color: #4c06b4;
}

h6 {
  font-size: 40px !important;
  color: #2f4305;
}

.m-1 {
  margin: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.m-2 {
  margin: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.m-3 {
  margin: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.ml-3 {
  margin-left: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.m-4 {
  margin: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.ml-4 {
  margin-left: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.m-5 {
  margin: 5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mr-5 {
  margin-right: 5rem;
}

.ml-5 {
  margin-left: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.m-6 {
  margin: 6rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mr-6 {
  margin-right: 6rem;
}

.ml-6 {
  margin-left: 6rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.m-7 {
  margin: 7rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mr-7 {
  margin-right: 7rem;
}

.ml-7 {
  margin-left: 7rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.m-8 {
  margin: 8rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mr-8 {
  margin-right: 8rem;
}

.ml-8 {
  margin-left: 8rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.m-9 {
  margin: 9rem;
}

.mt-9 {
  margin-top: 9rem;
}

.mr-9 {
  margin-right: 9rem;
}

.ml-9 {
  margin-left: 9rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

.m-10 {
  margin: 10rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mr-10 {
  margin-right: 10rem;
}

.ml-10 {
  margin-left: 10rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

/*# sourceMappingURL=main.css.map */
