@use "sass:math";
@use "./variables" as *;
@mixin btn($color: #fff) {
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    color: $color;
}

.color-text {
    color: $text-limit-color;
}

@mixin profile-av($size, $circle: false) {
    width: $size;
    height: $size;

    @if $circle {
        // border-radius: 1rem !important;
        // border-radius: $size/2 !important;
        border-radius: math.div($size, 2) !important;
    }
}

.circle-av {
    @include profile-av(180px, true);
}

.square-av {
    @include profile-av(180px);
}
