$app-bg-color: rgb(52, 158, 123) !important;
$br-color: #21020d;
$colors: (
    "primary": rgb(127, 127, 182),
    "secondary": lightblue,
    "success": lightgreen,
    "warning": rgb(146, 121, 121),
);
$app-bg-null: red;
$profile-name: "dummy";