$app-bg-color: rgb(52, 158, 123) !important;
$br-color: #21020d;
$colors: (
    "primary": #454c4e,
    "secondary": #3e8091,
    "success": #00bd48,
    "warning": #d0d32e,
);
$app-bg-null: red;
$profile-name: "dummy";
// $bg-primary: #28afe0 !important;
// $bg-secondary: #242027 !important;
// $bg-success: #00bd48 !important;
// $bg-warning: #d0d32e !important;
