.welcome-card {
    background-color: white;
    margin: 30px;
    padding: 20px;
    border-radius: 35px;

    &__title {
        font-size: 40px;
    }

    &__description {
        color: #8d693eb0;
        font-family: $font-inspiration;
        font-size: 2rem;
    }
    &__btn {
        // $app-bg-color: rgb(158, 114, 19) !important !global;
        margin-top: 10px;
        padding: 10px 20px;
        background-color: $app-bg-color;
        font-family: $font-roboto;
        border-radius: 5px;
        border: none;
    }
}